
body {
    font-family: helvetica, arial, sans-serif;
    background-color: #2e2e31;
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  
:root {
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
}

/* logo */

.logo {
    width:70%;
    position: relative;
    display: flex;
    border-radius: 150px;
    border: white;
    z-index: 2;
    margin-left: 15%;  
}

.logofooter {
  width: 80%;
  border-radius: 150px;
  margin-left: 15%;
}

.logohover:hover {
  width: 60%;
}

/* head */

header {
  color: white;
  font-size: 100%;
  background-color: black;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  height: 300px;
  font-size: 150%;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
}

.videochevaux {
  width: 100% ; 
}

.justify-content-center {
  justify-content: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol, ul {
  padding-left: 2rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  justify-content:space-around;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: white;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  text-decoration: none;
  padding: 2%;
  border-radius: 25rem;
  display: inline-block;
  padding-left: 4%;
  padding-right: 4%;
}

.center {
  text-align: center;
  align-items: center;
  background-color: lightgray;
}

.margintx1 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.margintx2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.margintx3 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.paddingtx1 {
  padding-bottom: 5%;
}

.paddingtx2 {
  padding-bottom: 2%;
}

.paddingtx3 {
  padding-bottom: 5%;
}

.paddingcard {
  padding-left: 4%;
  padding-right: 4%;
}

.paddingpicture {
  padding-left: 2%;
  padding-right: 2%;
}

.paddingfirstpicture{
  padding-bottom: 12%;
}

.paddingsecondpicture{
  padding-bottom: 5%;
}

.paddingthirdpicture{
  padding-bottom: 18%;
}

/* rectangle */

@keyframes tipsy {
    0% {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  .rectangle {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 170%;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 10em;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }
  
  .rectangle:before,
  .rectangle:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 110%;
    top: 50%;
    display: block;
    border: 5px solid lightgray;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }
  
  .rectangle:before {
    border-color: lightgray lightgray rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  .rectangle:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) lightgray lightgray;
    /*box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);*/
  }

/* bande photos */

article { 
  padding:0;
  display:block;
  width:50px;
  height:200px;
  float:left;
  border: double white;
}

figure {
  margin:0;
  padding:0;
  display:block;
  animation: marqueeliketop 10s infinite linear;
}

figure:after {
  content:  url(http://lorempixel.com/50/50/nature/1)url(http://lorempixel.com/50/50/food/1)url(http://lorempixel.com/50/50/sports/1) url(http://lorempixel.com/50/50/city/1) ;
  line-height:0;
  display:block;  }

img {
  display:block;
}

@keyframes marqueeliketop {
  0%, 100% {
    margin:0;
  }
  99.99% {
    margin-top:-500px;
  }
}

/* bande infos */

.card {
  color: black;
}

/* picture */

.picture {
  max-width: 100%;
  min-width: 60%;
}

.picturehover:hover {
  max-width: 105%;
  min-width: 65%;
}

/* texte */


p , article{
  display:inline-block;
  margin:3em auto;
  padding:5px 0;
  position:relative;
  overflow:hidden;
  table-layout:fixed;
}

.tx {
  font-size: 100%;
  color: white;
  display: grid;
  align-items:center;
  text-align: center;
}

h2 {
  font-weight: bolder;
  text-decoration: underline;
}

.txul {
  display: grid;
  align-items:center;
  font-size: 100%;
  color: black;
}

ul,
.bold {
  text-decoration: none;
  font-weight: bolder;
}

li {
  font-weight: lighter;
}

.marge {
  margin-top: 5%;
  margin-bottom: 5%;
}

.cadre {
  background-color: lightgray;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 105%;
}

/* perso histoire */

.portrait {
  border-radius: 150px;
  border: white;
}

.personnage {
  color: white;
}

.btn {
  margin: 5px;
}


/* tx histoire */

/* utility */
html.sr .load-hidden {
  visibility: hidden;
}

.widget-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background: black;
  border-radius: 8px;
}

.widget {
  width: 15%;
  height: 50px;
  flex: auto;
  margin: 0.5rem;
  background: white;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
}

/* extension */
html.sr .widget {
  visibility: hidden;
}

/* footer */

footer {
  color: white;
  font-size: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 300px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.align-items-center {
  align-items: center;
  
}
                             
.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

