
body {
    font-family: helvetica, arial, sans-serif;
    background-color: #2e2e31;
  }

/* logo */

.logo {
    width: 150%;
    position: relative;
    display: flex;
    border-radius: 150px;
    border: white;
    z-index: 2;
}

.logohover:hover {
  width: 100%;
  padding-left: 18%;
  padding-top: 18%;
}

/* head */

header {
  width: 100%;
}

.videochevaux {
  width: 200% ; 
  top: 0;
}

.space {
    padding-left: 3%;
    padding-top: 2%;
}

.nav-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.normalwrite {
    font-weight: lighter;
    font-size: 230%;
    color: white;
    text-decoration: none;
    margin: 2%;
    z-index: 2;
}

.hover:hover {
    font-size: 200%;
    color: white;
    text-decoration: none;
}

/* rectangle */

@keyframes tipsy {
    0% {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  .rectangle {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 170%;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 10em;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .rectangle:before,
  .rectangle:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 110%;
    top: 50%;
    display: block;
    border: 5px solid lightgray;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }
  
  .rectangle:before {
    border-color: lightgray lightgray rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  .rectangle:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) lightgray lightgray;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
  }

/* bande photos */

article { 
  padding:0;
  display:block;
  width:50px;
  height:200px;
  float:left;
  border: double white;
}

figure {
  margin:0;
  padding:0;
  display:block;
  animation: marqueeliketop 10s infinite linear;
}

figure:after {
  content:  url(http://lorempixel.com/50/50/nature/1)url(http://lorempixel.com/50/50/food/1)url(http://lorempixel.com/50/50/sports/1) url(http://lorempixel.com/50/50/city/1) ;
  line-height:0;
  display:block;  }

img {
  display:block;
}

@keyframes marqueeliketop {
  0%, 100% {
    margin:0;
  }
  99.99% {
    margin-top:-500px;
  }
}

/* bande infos */

@keyframes marqueelike {
  0%, 100% {
    margin-left:100%;
  }
  99.99% {
    margin-left:-100%;
  }
}

@keyframes marqueelike2 {
  0%, 100% {
    margin-left:150%;
  }
  99.99% {
    margin-left:-50%;
  }
}

.center {
  text-align:center;
  color: black;
  /*text-align:justify;*/
  padding : 5px;
  width:290px;
}

.bandeau {
  margin: 1em;
}

.anim {
  animation: marqueelike 15s infinite;
}

.anim2 {
  animation: marqueelike2 15s infinite;
}

/* picture */

.picture {
  max-width: 100%;
  min-width: 60%;
}

.picturehover:hover {
  max-width: 105%;
  min-width: 65%;
}

/* texte */


p , article{
  display:inline-block;
  margin:3em auto;
  padding:5px 0;
  position:relative;
  overflow:hidden;
  table-layout:fixed;
}

.tx {
  font-size: 100%;
  color: white;
  display: grid;
  align-items:center;
  text-align: center;
}

h2 {
  font-weight: bolder;
  text-decoration: underline;
}

.txul {
  display: grid;
  align-items:center;
  font-size: 100%;
  color: black;
}

ul,
.bold {
  text-decoration: none;
  font-weight: bolder;
}

li {
  font-weight: lighter;
}

.marge {
  margin-top: 5%;
  margin-bottom: 5%;
}

.cadre {
  background-color: lightgray;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 105%;
}

/* footer */

footer {
  color: white;
  font-size: 100%;
  width: 102%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 300px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
}

.personnage {
  color: white;
}