
:root {
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
}

body {
    font-family: helvetica, arial, sans-serif;
    background-color: #2e2e31;
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  
/* logo */

.logo {
    width:70%;
    position: relative;
    display: flex;
    border-radius: 150px;
    border: white;
    z-index: 2;
    margin-left: 15%;  
}

.logofooter {
  width: 70%;
  border-radius: 150px;
  margin-left: 5%;
}

.logohover:hover {
  width: 60%;
}

/* head */

header {
  color: white;
  font-size: 100%;
  background-color: black;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  height: 300px;
  font-size: 150%;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
}

.videochevaux {
  width: 100% ; 
}

.justify-content-center {
  justify-content: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol, ul {
  padding-left: 2rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  justify-content:space-around;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: white;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-primary {
  color: lightgray;
  background-color: rgb(109, 34, 16);
  border-color: rgb(109, 34, 16);
  text-decoration: none;
  padding: 2%;
  border-radius: 25rem;
  display: inline-block;
  padding-left: 4%;
  padding-right: 4%;
}

.center {
  text-align: center;
  align-items: center;
  background-color: lightgray;
}

.margintx1 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.margintx2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.margintx3 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.paddingtx1 {
  padding-bottom: 5%;
}

.paddingtx2 {
  padding-bottom: 2%;
}

.paddingtx3 {
  padding-bottom: 5%;
}

.paddingcard {
  padding-left: 4%;
  padding-right: 4%;
}

.paddingpicture {
  padding-left: 2%;
  padding-right: 2%;
}

.paddingfirstpicture{
  padding-bottom: 12%;
}

.paddingsecondpicture{
  padding-bottom: 5%;
}

.paddingthirdpicture{
  padding-bottom: 18%;
}

/* bande photos */

.defile1,.defile2 { margin:0 ; padding:0 }
div#conteneur {      
	/*width: 660px;*/ /* Soit 220px * 3 images */
	/*height:220px;*/
  width: 100%;
  height: 100%;
	overflow:hidden;
	margin: 2em auto;
	box-shadow: 0px 0px 25px 10px gray;
}
.defile1{
	display: table;
	/*width:1540px;*/ /* Soit 220px * 7 images */
  width: 100%;
	animation: slide-image 20s ease 1s infinite alternate;
}

.defile1 .defile2{
	display: table-cell;
	/*width:220px;*/
	/*height:220px;*/
  width:100%;
	/*height:100%;*/
	text-align:center;
	vertical-align:middle;
}
@keyframes slide-image{
	from,10%  {margin-left:   0px;}
	10%,20%   {margin-left:-180px;}
	20%,30%   {margin-left:-360px;}
	30%,40%   {margin-left:-540px;}
	40%,50%   {margin-left:-720px;}
  50%,60%   {margin-left:-900px;}
  60%,70%   {margin-left:-1080px;}
  70%,80%   {margin-left:-1260px;}
  80%,90%   {margin-left:-1440px;}
  90%,to    {margin-left:-1620px;}
}
/*
@keyframes slide-image{
	from,20%  {margin-left:   0px;}
	20%,40%   {margin-left:-220px;}
	40%,60%   {margin-left:-440px;}
	60%,80%   {margin-left:-660px;}
	80%,to    {margin-left:-880px;}
  80%,to    {margin-left:-880px;}
  80%,to    {margin-left:-880px;}
}*/

/* picture */

.picture {
  max-width: 100%;
  min-width: 60%;
}

.picturehover:hover {
  max-width: 105%;
  min-width: 65%;
}

/* texte */

.margin {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.reseau {
  display: grid;
  align-items:center;
  text-align:justify;
}

.colorblack {
  color: black;
}

.textdeco {
  text-decoration: none;
  color: rgb(109, 34, 16);
}

.btn-secondary {
  color: lightgray;
  background-color: rgb(109, 34, 16);
  border-color: rgb(109, 34, 16);
  text-decoration: none;
  padding: 2%;
  border-radius: 25rem;
  display: inline-block;
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
}

p , article{
  display:inline-block;
  margin: 1.5rem auto;
  padding:5px 0;
  position:relative;
  overflow:hidden;
  table-layout:fixed;
}

.tx {
  font-size: 110%;
  color: white;
  display: grid;
  align-items:center;
  text-align:justify;
  word-spacing: 0.5%;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

h2 {
  font-weight: bolder;
  text-decoration: underline;
  display: grid;
  justify-content: center;
}

h3 {
  display: grid;
  justify-content: center;
}

.txul {
  display: grid;
  align-items:center;
  font-size: 100%;
  color: black;
  text-decoration: none;
}

ul,
.bold {
  text-decoration: none;
  font-weight: bolder;
}

li {
  font-weight: lighter;
}

.marge {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.cadre {
  background-color: lightgray;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 107%;
}

/* perso histoire */

.zoom {
	-webkit-filter: blur(1.5px);
	filter: blur(1.5px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom:hover{
	-webkit-filter: blur(0);
	filter: blur(0);
}

.portrait {
  border-radius: 150px;
  border: white;
}

.personnage {
  color: white;
}

.btnhistoire {
  margin: 5%;
  border: white double;
  border-radius: 150px;
}

.youtube2 {
  display: grid;
  justify-content: center;
}

/* utility */

html.sr .load-hidden {
  visibility: hidden;
}

html.sr .widget {
  visibility: hidden;
}

/* bande infos */

.card {
  color: black;
}

/* Gallerie */

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
}
.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

div {
  display: block;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.g-3, .gy-3 {
  --bs-gutter-y: 1rem;
}
.g-3, .gx-3 {
  --bs-gutter-x: 1rem;
}
/*
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row-cols-1>* {
  flex: 0 0 auto;
  width: 100%;
}
.col {
  flex: 1 0 0%;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}
*/

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.card-img, .card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
}
/*
img, svg {
  vertical-align: middle;
}*/

:not(svg) {
  transform-origin: 0px 0px;
}
/*
rect[Attributes Style] {
  width: 100%;
  height: 100%;
  fill: rgb(85, 89, 92);
}*/
/*
text[Attributes Style] {
  fill: rgb(236, 238, 239);
}
*/
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
/*
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
*/

.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group-vertical>.btn, .btn-group>.btn {
  position: relative;
  flex: 1 1 auto;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
.btn-group-sm>.btn, .btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem;
}
.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.colorgray {
  color: lightgray;
  background-color: rgb(109, 34, 16);
  border-color: rgb(109, 34, 16);
  text-decoration: none;
  padding: 5%;
  border-radius: 25rem;
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .75rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border-radius: 0;
}

button {
  appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
  margin-left: -1px;
}
/* animation scroll */

@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&display=swap");

.scroll-container {
  height: 100%;
  min-height: 450px;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.txcadre {
  font-size: 110%;
  color: rgb(68, 68, 68);
  display: grid;
  align-items:center;
  text-align:justify;
  word-spacing: 0.5%;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  text-decoration: none;
}

.scroll-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.scroll-element,
.scroll-caption {
  width: 50%;
}

.scroll-element {
  min-height: 300px;
  height: 100%;
  background-color: #eaeaea;
}

.scroll-element2 {
  min-height: 300px;
  height: 100%;

}


@media screen and (max-width: 650px) {
  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
  }

  .scroll-element {
    height: 100%;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* contact */

.centercontact {
  text-align: center;
  align-items: center;
}

.txcontact {
  font-size: 110%;
  color: white;
  display: grid;
  align-items:center;
  text-align:center;
  word-spacing: 0.5%;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.btncontact {
  display: inline-block;
  font-size: 18px;
  color: white;
  background: rgb(109, 34, 16);
  padding: 5%;
  border-radius: 25rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btncontact:hover {
  background: grey;
  color: whitesmoke;
}


/* footer */

footer {
  color: white;
  font-size: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 300px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.align-items-center {
  align-items: center;
}
                             
.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.navfooter {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
